<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Sistecredito" value="http://scpackages.azurewebsites.net/nuget" />
    <add key="MsNuget" value="https://api.nuget.org/v3/index.json" />
	<add key="credinet" value="https://credinet-packages.azurewebsites.net/nuget" />
  </packageSources>
    <packageSourceMapping>
        <packageSource key="MsNuget">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Sistecredito">
            <package pattern="*" />
        </packageSource>
        <packageSource key="credinet">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>